{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'aurora_core/css/styles.css' %}">-->

{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="row calendar-row">
            <div class="d-flex">
                <h4 id="prev_month" class="w-100 text-center"><</h4>
                <h4 id="month" style="white-space: nowrap;" class="w-100 text-center"></h4>
                <h4 id="next_month" class="w-100 text-center">></h4>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <td>Пн</td>
                    <td>Вт</td>
                    <td>Ср</td>
                    <td>Чт</td>
                    <td>Пт</td>
                    <td>Сб</td>
                    <td>Вс</td>
                </tr>
                </thead>
                <tbody id="calendar">
                </tbody>
            </table>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'aurora_core/js/jquery-3.6.0.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    let event_list_url = "{% url 'schedule_api:event_list' %}";
    let label_list_url = "{% url 'schedule_api:label_list' %}";
    let create_event_url = "{% url 'aurora_core:create_event' %}";
</script>
<script src="{% static 'aurora_core/js/schedule.js' %}"></script>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div id="modal-content" class="modal-content"></div>
  </div>
</div>

{% else %}
<div class="container mt-4">
    <h1 class="cover-heading">Aurora - это интерактивный календарь.</h1>
    <p class="lead">Обеспечивает прозрачность и контроль индивидуальной ответственности,
        необходимые для эффективной командной работы,
        и позволяет людям организовывать и отслеживать события.</p>
    <br>
    <div class="d-grid mx-auto col-8">
        <a class="btn btn-success" href="{% url 'user_manager:sign_in'%}">Войти</a><br>
        <a class="btn btn-primary" href="{% url 'user_manager:sign_up' %}">Зарегистрироваться</a>
    </div>
</div>
{% endif %}
{% endblock %}